@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Madimi One", sans-serif;
}

:root{
     --background-color:#383d52;
     --textcolor:#ffcccc;
     --headcolor:#252839;
     --buttoncolor:#ff9999;
     --buthover:#ff8080;
     --clearcolor:#ff6666;
     --clearhover:#ff0000;
}

body
{
     
     background:var(--headcolor);
}


.heading
{
     
     display:flex;
     justify-content: center;
     align-items: center;
     min-height: 30vh;
     background: var(--headcolor);
}

.container{
     width:100%;
     height:100vh;
     display:flex;
     align-items: center;
     justify-content: center;
}

.calc{
     background:var(--textcolor);
     padding:20px;
     border-radius: 20px;

}

.button{
     
     border:0;
     outline:0;
     width:100px;
     height:80px;
     border-radius: 20px;
     background:var(--headcolor);
     font-size:30px;
     color:#fff;
     cursor:pointer;
     margin:6px;
}

.button:hover{
     background-color: var(--buthover);
}

.b{
     
     border:0;
     outline:0;
     width:100px;
     height:80px;
     border-radius: 20px;
     background:var(--buttoncolor);
     font-size:30px;
     color:#fff;
     cursor:pointer;
     margin:6px;
}

.b:hover{
     background-color: var(--buthover);
}




.clear{
     
     background-color: var(--clearcolor);
}

.clear:hover{
     background-color: var(--clearhover);
}


form .ip{
     display:flex;
     justify-content: flex-end;
     margin:20 px;
     width: 453px;
     padding-bottom:20px;
     
}

form .ip input{
     width: 400px;
     text-align: right;
     flex:1;
     font-size: 60px;
     border-radius: 15px;
     background-color:var(--background-color);
     color:#fff
}

.equal{
     width: 215px;
}



h1
{
     position: relative;
     font-size: 8vw;
     color:var(--headcolor);
     -webkit-text-stroke: 0.3vw var(--background-color);
     text-transform: uppercase;

}

h1::before
{
     content:attr(data-text);
     position:absolute;
     top:0;
     left:0;
     width:0;
     height:100%;
     color: var(--textcolor);
     -webkit-text-stroke: 0vw var(--background-color);
     border-right: 2px solid var(--textcolor);
     overflow:hidden;
     animation:animate 6s linear infinite;

}

@keyframes animate
{
     0%,20%,100%
     {
          width:0;

     }
     70%,90%
     {
          width:100%
     }
}

.lightmode{
     background-color: #ffcccc;

}

.lightmode .calc{
     background-color: #383d52;
}

.lightmodeb{
     background-color: #80ccff;
}

.lightmode .clear{
     background-color: #0886da;
}

.lightmode form .ip input{
     background-color: #ffcccc;
}

.toggb{
     background-color: var(--background-color);
     color:antiquewhite;
     display: flex;
     align-items: center;
     justify-content: center;
     width:50px;
     height:50px;
     border-radius: 20px;
     cursor:pointer;
}

.toggb img{
     width:35px;
     margin-left:10px;
}

