@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
}

:root{
     --background-color:#383d52;
     --textcolor:#ffcccc;
     --headcolor:#252839;
     --buttoncolor:#ff9999;
     --buthover:#ff8080;
     --clearcolor:#ff6666;
     --clearhover:#ff0000;
}

body
{
    
     background:#252839;
}


.heading
{
     left:30px;
     position: relative;
     display:flex;
     justify-content: center;
     align-items: center;
     min-height: 30vh;
     background: #252839;
}


.lightmode .h{
     color:#0886da;

}


.h{  
     position: absolute;
     font-size: 5em;
     left:50px;
     color:#ffcccc;
     letter-spacing: 4px;
     font-family:monospace ;
     border-right: 2px solid;
     width:40%;
     height:110px;
     top:300px;
     overflow: hidden;
     animation: 
     typing 2s steps(13),
     cursor .20s step-end infinite alternate;
}

@keyframes cursor{
      70%
      {border-color: transparent;}

}

@keyframes typing {
     from {
         width: 0%;
     }
     to {
         width: 40%; 
     }
 }

.container{
     padding-left: 550px;

     width:100%;
     height:110vh;
     display:flex;
     align-items: center;
     justify-content: center;
}

.calc{
     position: relative;
     background:#ffcccc;
     padding:20px;
     border-radius: 30px;

}

.button{
     position:relative;
     border:0;
     outline:0;
     width:100px;
     height:80px;
     border-radius: 20px;
     background:#ff9999;
     font-size:30px;
     color:#fff;
     cursor:pointer;
     margin:6px;
}

.button:hover{
     background-color: #ff8080;
}

.b{
     position: relative;
     border:0;
     outline:0;
     width:100px;
     height:80px;
     border-radius: 20px;
     background:#ff9999;
     font-size:30px;
     color:#fff;
     cursor:pointer;
     margin:6px;
}

.b:hover{
     background-color: #ff8080;
}


.lightmode .heading{
     background-color: #ffcccc;
}

.clear{
     
     background-color: #ff6666;
}

.clear:hover{
     background-color: #ff0000;
}


form .ip{
     position: relative;
     display:flex;
     justify-content: flex-end;
     margin:20 px;
     width: 453px;
     padding-bottom:20px;
     padding-left: 7px;
     padding-top: 10px;
}

form .ip input{
     position: relative;
     width: 400px;
     text-align: right;
     flex:1;
     font-size: 60px;
     border-radius: 15px;
     background-color:#383d52;
     color:#fff
}

.equal{
     position: relative;
     width: 215px;
}



.lightmode{
     background-color: #ffcccc;

}

.lightmode .calc{
     background-color: #dceefa;
}

.lightmode .button{
     background-color: #99d1f6;
}

.lightmode .b{
     background-color: #a8dbfd;
}

.lightmode .clear{
     background-color: #0886da;
}

.lightmode form .ip input{
     background-color: #fff;
     border-color: #fff;
     color:#44b1f9;
}

.lightmode .b.clear:hover{
     background-color: #2b3ea9;
}

.lightmode .b:hover{
     background-color: #44b1f9;
}
.lightmode .button:hover{
     background-color: #44b1f9;
}




.toggb{
     
     position:fixed;
     top:10px;
     left:10px;
     background-color: #383d52;
     width:120px;
     height:70px;
     border-radius: 80px;
     cursor:pointer;
     font-size: 30px;
}

.toggb::before{
     content:"";
     position:absolute;
     height:30px;
     width:30px;
     background:antiquewhite;
     border-radius:100%;
     top:50%;

}

.lightmode .toggb{
     background-color: #ffe0e0;
     color:#383d52;
     
}



